target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/*.png
!**/src/main/resources/architecture/*.jpg

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Log files ###
*.log

### VM crash logs ###
hs_err_pid*
replay_pid*

### Env files ###
.env
.env.local
.env.*.local
